{% load static %}
<section class="faq-section">
  <h2 class="faq-title">Preguntas Frecuentes</h2>
  <p class="faq-subtitle">
    Encuentra respuestas a las preguntas más comunes sobre Espresso Coffee.
  </p>

  <div class="faq-grid">
    <div class="faq-item">
      <p class="question">
        <i class="fas fa-question-circle"></i> ¿Dónde se encuentra Espresso
        Coffee?
      </p>
      <p class="answer">Puedes encontrarnos en Rubio. ¡Te esperamos!</p>
    </div>
    <div class="faq-item">
      <p class="question">
        <i class="fas fa-question-circle"></i> ¿Cuáles son los horarios de
        atención?
      </p>
      <p class="answer">
        Estamos abiertos de 7:00 am a 6:00 pm, todos los días.
      </p>
    </div>
    <div class="faq-item">
      <p class="question">
        <i class="fas fa-question-circle"></i> ¿Ofrecen servicio a domicilio?
      </p>
      <p class="answer">
        Sí, ofrecemos servicio a domicilio. ¡Ordena en línea y disfruta en casa!
      </p>
    </div>
    <div class="faq-item">
      <p class="question">
        <i class="fas fa-question-circle"></i> ¿Qué métodos de pago aceptan?
      </p>
      <p class="answer">Tenemos punto de venta y aceptamos pago móvil a BCV.</p>
    </div>
  </div>

  <!-- <div class="faq-contact">
          <p>¿No encontraste la respuesta que buscabas?</p>
          <a href="#" class="btn btn-faq-contact">Contacta con Soporte</a>
      </div> -->
</section>
