<footer>
  <div class="footer-top">
    <nav class="footer-nav">
      <ul>
        <li><a href="{% url 'index'%}">Inicio</a></li>
        <li><a href="{% url 'menu'%}">Menú</a></li>
        <li><a href="#">Ordena Online</a></li>
        <li><a href="#">Promociones</a></li>
      </ul>
    </nav>
  </div>
  <div>
    <a href="#" class="btn btn-secondary">Contáctenos &rarr;</a>
  </div>
  <div class="footer-bottom">
    <div class="copyright">
      © Espresso Coffee 2025, Todos los derechos reservados
    </div>
  </div>
</footer>
